<div class="content">
	<div class="container-fluid">
		<div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Pagos</h4>
                        <p class="category">texttextext</p>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="left-vertical-tabs">
                                <ul class="nav nav-stacked" role="tablist">
                                    <li class="active">
                                        <a href="#info" role="tab" data-toggle="tab">
                                            Saldos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#anotaciones" role="tab" data-toggle="tab">
                                            Anotaciones
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tareas" role="tab" data-toggle="tab">
                                            Tareas
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="right-text-tabs">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="info">
                                        <div class="col-md-6">
                                             <div id="graficaSaldos"></div>
                                        </div>                                    
                                        <div class="col-md-6"> 
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-right">
                                                                Día 01 y 30
                                                            </td>
                                                            <td class="text-right">
                                                                $50, 129.00
                                                            </td>
                                                            <td class="text-right">
                                                                SI
                                                            </td>
                                                            <td class="text-right">
                                                                $127,296.35
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">
                                                                Día 15
                                                            </td>
                                                            <td class="text-right">
                                                                $74, 981.35
                                                            </td>
                                                            <td class="text-right">
                                                                NO
                                                            </td>
                                                            <td class="text-right">
                                                                $4, 315.00
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" class="text-right">
                                                                Útilidad
                                                            </td>
                                                            <td class="text-right">
                                                                $74, 981.35
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="anotaciones">
                                       
                                        <p>Agregé una nota aquí </p>


                                    </div>
                                    <div class="tab-pane" id="tareas">
                                       
                                         <div class="table-full-width table-tasks">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                        <div class="checkbox">
                                                            <input id="checkbox1" type="checkbox">
                                                            <label for="checkbox1">

                                                        </label>
                                                        </div>
                                                        </td>
                                                        <td>Tarea 1</td>
                                                        <td class="td-actions text-right">
                                                            <div class="table-icons">
                                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                                    <i class="ti-pencil-alt"></i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                    <i class="ti-close"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <div class="checkbox">
                                                            <input id="checkbox2" type="checkbox">
                                                            <label for="checkbox2">

                                                        </label>
                                                        </div>
                                                        </td>
                                                        <td>Tarea 2</td>
                                                        <td class="td-actions text-right">
                                                            <div class="table-icons">
                                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                                    <i class="ti-pencil-alt"></i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                    <i class="ti-close"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <div class="checkbox">
                                                            <input id="checkbox3" type="checkbox">
                                                            <label for="checkbox3">

                                                        </label>
                                                        </div>
                                                        </td>
                                                        <td>Tarea 4</td>
                                                        <td class="td-actions text-right">
                                                            <div class="table-icons">
                                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                                    <i class="ti-pencil-alt"></i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                    <i class="ti-close"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <div class="checkbox">
                                                            <input id="checkbox4" type="checkbox">
                                                            <label for="checkbox4">

                                                        </label>
                                                        </div>
                                                        </td>
                                                        <td>Tarea 5</td>
                                                        <td class="td-actions text-right">
                                                            <div class="table-icons">
                                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                                    <i class="ti-pencil-alt"></i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                    <i class="ti-close"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <div class="checkbox">
                                                            <input id="checkbox5" type="checkbox">
                                                            <label for="checkbox5">

                                                        </label>
                                                        </div>
                                                        </td>
                                                        <td>Tarea 7</td>
                                                        <td class="td-actions text-right">
                                                            <div class="icons-table">
                                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                                    <i class="ti-pencil-alt"></i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                    <i class="ti-close"></i>
                                                                </button>
                                                            </div>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <div class="checkbox">
                                                            <input id="checkbox6" type="checkbox">
                                                            <label for="checkbox6">

                                                        </label>
                                                        </div>
                                                        </td>
                                                        <td>Tarea 8</td>
                                                        <td class="td-actions text-right">
                                                            <div class="table-icons">
                                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                                    <i class="ti-pencil-alt"></i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                    <i class="ti-close"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
			
		</div>
		<div class="row">
			<div class="col-lg-12 col-sm-12">
				 <div class="card">
					<div class="card-content">
					<table id="bootstrap-table" class="table">
                    <thead>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="dia" class="text-center">Día</th>
                        <th data-field="inout" class="text-center">Gasto</th>
                        <th data-field="concepto" class="text-center">Concepto</th>
                        <th data-field="usuario" class="text-center">Pagado</th>
                        <th data-field="concepto" class="text-center">Metodo de pago</th>
                        <th data-field="concepto" class="text-center">Total</th>
                        <th data-field="concepto" class="text-center">Abono</th>
                        <th data-field="concepto" class="text-center">Concepto</th>
                        <th data-field="concepto" class="text-center">Concepto</th>
                        <th data-field="name" data-sortable="true">Permiso</th>
                    </thead>
                    <tbody>
                        {{#cargab out.modulos}}														
                        <tr>
                            <td></td>
                            <td>{{nombre}} {{modulo.permisos}}</td>
                            <td class="form">
                                <div class="form-group">
                                <select class="form-control modulos_def" id="exampleFormControlSelect2" data-def="{{modulo.permisos}}" data-api="{{api}}" >
                                    {{#carga niveles}}
                                            <option value="{{c}}"> {{nombre}} </option>					
                                    {{/carga}}
                                </select>
                            </div>
                            </td>
                            
                        </tr>
                        {{/cargab}}
                    </tbody>
                </table>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
</div>